<!DOCTYPE html>
<html>
<head>
	<!-- the utf-8 is the encoding that specifies that this document is an HTML so browsers will know -->
	<meta charset="utf-8">
	<!-- view port tells browser to scale to fit small devices like mobile phones -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Patients | Covid19 App</title>
	<link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
</head>
<body>

<header class="navbar">
	<div class="container">
		<nav class="nav">
			<a class="" href="/">Home</a>
			<a href="/patients">Patients</a>
			<a href="/details">Details</a>
		</nav>
	</div>
</header>

<main class="mt-5">
	<div class="container">
		<div class="row mb-3">
			<div class="col-6">
				<h3 class="display-5">List of Patients</h3>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-6">
				<ul>
					<li><a href="/patients/1">Dolly</a></li>
					<li><a href="/patients/2">Solly</a></li>
					<li><a href="/patients/3">Molly</a></li>
					<li><a href="/patients/4">Tolly</a></li>
					<li><a href="/patients/5">Holly</a></li>
					<li><a href="/patients/6">Wolly</a></li>
				</ul>
			</div>
		</div>
	</div>
</main>

<footer>
	<div class="container">
		<div class="row">
			&copy; 2022, Coding & Robotics Club.
		</div>
	</div>
</footer>

<script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./assets/js/script.js"></script>
</body>
</html>