<!DOCTYPE html>
<html>
<head>
	<!-- the utf-8 is the encoding that specifies that this document is an HTML so browsers will know -->
	<meta charset="utf-8">
	<!-- view port tells browser to scale to fit small devices like mobile phones -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home | Covid19 App</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>

<header>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/details">Details</a></li>
		</ul>
	</nav>
</header>


<main>
	<div class="container">
		<div class="row">
		</div>
	</div>
</main>

<footer>
	<div class="container">
		<div class="row">
			&copy; 2022, Coding & Robotics Club.
		</div>
	</div>
</footer>

<script type="text/javascript" src="../assets/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../assets/js/script.js"></script>
</body>
</html>